<div class="page-header">
	<h1 data-bind="list.title">Show</h1>
</div>


<div id="new-item" class="wrapper">
  <form accept-charset="UTF-8" class="new_item" id="new_item" data-formfor-item="list.item" data-event-submit="create_item">
    <div data-partial="items/_form"></div>
  </form>
</div>

<ul id="items" class="unstyled items">
  <li data-foreach-item="list.items" >
    <div class="view">
    	<input type="checkbox" data-bind="item.done" data-event-change="item.save"/>
    	<span data-bind="item.content" data-addclass-done="item.done">content will go here</span>
    	<span class="destroy" data-event-click="item.destroy"></span>
    </div>
    <div class="edit">
    	
    </div>
  </li>
</ul>