/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_tree .
 *= require_self 
 */

.big-input{
	padding: 10px;
	font-size: 18px;
	width:500px;
}

.items li,.lists li{
    border-bottom: 1px solid #CCCCCC;
    font-size: 24px;
    list-style: none outside none;
    padding: 15px 20px 15px 0;
    position: relative;
}

.items li,.lists li span{
	cursor: pointer;
}

.items li span.destroy, .lists li span.destroy{
	background: url("/assets/destroy.png") no-repeat scroll center center transparent;
    cursor: pointer;
    display: none;
    height: 20px;
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 16px;
    width: 20px;
}

.items li:hover span.destroy,.lists li:hover span.destroy{
    display: inline;
}
.items li span.done{
    color: #777777;
    text-decoration: line-through;	
}
